/* 
    General Styles
*/
body {
    margin: 0;
    padding: 0;
    background-image: url('https://e0.pxfuel.com/wallpapers/749/506/desktop-wallpaper-stars-in-the-sky-real-stars.jpg');
    background-size: cover;
    background-position: center;
  }